@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.wrap {
    width: 80%;
    margin: 30px auto;
}

a {
    text-decoration: none;
    color: #3EC900;
}

.w-80px {
    width: 80px;
}

.w-300px {
    width: 300px;
}

.w-100px {
    width: 100px;
}

.w-250px {
    width: 240px;
}

.h-80vh {
    height: 80vh
}

.h-25vh {
    height: 25vh;
}

.h-300px {
    height: 300px;
}

.fs-100px,
.fs-60px,
.fs-30px {
    line-height: 100%;
}

.fs-60px {
    font-size: 60px;
}

.fs-100px {
    font-size: 100px;
}

.fs-30px {
    font-size: 30px;
}

.fs-20px {
    font-size: 20px;
}

.fs-12px {
    font-size: 12px;
}

.btn-green-pill {
    background: #3EC900;
    color: white;
    border-radius: 100px;
    font-size: 15px;
    padding: 10px 20px;
}

.veg {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 100ms;
}

.veg:hover {
    box-shadow: #00000030 0 2px 5px!important;
}

.bg-black {
    background-color: #000;
}